{% extends 'layout.html' %} {% block body %}
<h1>Welcome to my adventure in machine learning</h1>
<div class="container">
  <div>
    <h3>Results from linear regression analysis for Boeing.</h3>
    <img src="../static/lin-reg-BA.png" alt="Nothing Rendered" />
  </div>
  <div>
    <h3>Results from Random forest analysis for Boeing.</h3>
    <img src="../static/random_forest_BA.png" alt="Nothing Rendered" />
  </div>
  <div>
    <h3>Results from linear regression analysis for GE.</h3>
    <img src="../static/lin_reg_GE.png" alt="Nothing Rendered" />
  </div>
  <div>
    <h3>Results from Random forest analysis for GE.</h3>
    <img src="../static/random_forest_GE.png" alt="Nothing Rendered" />
  </div>
  <div>
    <h3>Results from linear regression analysis for JP morgan.</h3>
    <img src="../static/lin_reg_JPM.png" alt="Nothing Rendered" />
  </div>
  <div>
    <h3>Results from Random forest analysis for JP Morgan.</h3>
    <img src="../static/random_forest_JPM.png" alt="Nothing Rendered" />
  </div>
</div>

{% endblock %}